/** @format */
.printContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  direction: rtl;
  min-width: 100%;
  margin: 0 auto;
  background-color: var(--sec-clr);
  border-radius: 0;
  overflow: hidden;
  padding: 5em;
  padding-top: 7em;
  /* font-size: .8rem; */
}
.table td:nth-child(odd) {
  width: 120px;
}
.table td {
  padding-bottom: 5px;
}
.header {
  padding: 7px;
  width: 100%;
  text-align: center;
}
.header .dateCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  text-align: center;
  border-bottom: 3px solid black;
  font-size: 1.5rem;
  max-width: max-content;
  padding: 2px;
  margin: 0.5em auto;
}
.header .for {
  font-size: larger;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.dateInput {
  width: 20%;
  text-align: center;
  margin: 0 5px;
}

.stamps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  margin-top: 80px;
  width: 100%;
}
.stamps div {
  text-align: center;
  width: 35%;
}
