/** @format */
a:hover {
  color: #444 !important;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr !important;
}
.full {
  min-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .full > * {
  flex: 1 1 1;
} */
.icon {
}
.h-500 {
  min-height: 500px !important;
}
.fc-w {
  color: #eee !important;
}
.fos-lg {
  font-size: clamp(10px, 13px, 1rem) !important;
}
.fos-m {
  font-size: 14px !important;
}
.fos-sm {
  font-size: 12px !important;
}
.fc-w {
  color: #eee !important;
}
.w-50 {
  min-width: 45%;
  max-width: 45%;
}
.w-30 {
  min-width: 30%;
  max-width: 30%;
}
.m-auto {
  margin: 0 auto;
}
.w-1200 {
  max-width: 1100px;
  min-width: 1100px;
}
.bg-w {
  color: #020202;
  background-color: var(--sec-clr);
}
.bg-b {
  background-color: lightgray;
}
.table-responsive-sm {
  width: 100%;
}
.modal-content {
  direction: rtl;
}
.header {
  background-color: var(--theme-clr);
  padding: 0.5em;
  /* background-color: var(--sec-clr); */
  min-width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  /* box-shadow: 3px 3px 5px var(--shadow-clr); */
}
.tab-content {
  min-width: 100% !important;
}
.nav-item {
  margin: 0 5px !important;
}
.nav-link {
  color: #eee !important;
}
.active {
  color: #020202 !important;
}
.bg-clr {
  color: #eee;
  background-color: var(--theme-clr);
}
.hidden {
  display: none;
}
.disable {
  opacity: 0.6;
}

.checkBox {
  cursor: pointer;
  background-color: #eee;
  color: var(--theme-clr);
  border-radius: 5px;
  border: 2px solid var(--theme-clr);
  padding: 8px 2px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5em;
}
.checkBoxChecked {
  background-color: var(--theme-clr);
  color: #eee;
  border-radius: 5px;
  border: none;
  border: 2px solid var(--theme-clr);
  padding: 8px 2px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5em;
}

.floating-badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  background: var(--theme-clr);
  color: var(--theme-clr);
  color: #0000;
  box-shadow: 1px 1px 5px var(--shadow-clr);
}
.floating-badge-2 {
  position: absolute;
  top: -4px;
  left: 15px;
  border-radius: 0 0 5px 5px;
  padding: 1px 5px;
  background: var(--theme-clr);
  color: #0000;
  box-shadow: 1px 1px 5px var(--shadow-clr);
  clip-path: polygon(
    50% 0,
    100% 0,
    100% 35%,
    100% 70%,
    100% 100%,
    50% 80%,
    0 100%,
    0 65%,
    0 23%,
    0 0
  );
}
.floating-badge-green {
  background: green;
}
.floating-badge-yellow {
  background: gold;
}
.floating-badge-red {
  background: rgb(197, 60, 83);
}
.floating-badge-gray {
  background: gray;
}
.floating-badge-orange {
  background: rgb(200, 127, 0);
}
