/** @format */
a:hover {
  color: #444 !important;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr !important;
}
.full {
  min-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .full > * {
  flex: 1 1 1;
} */
.icon {
}
.h-500 {
  min-height: 500px !important;
}
.fc-w {
  color: #eee !important;
}
.fos-lg {
  font-size: clamp(10px, 13px, 1rem) !important;
}
.fos-m {
  font-size: 14px !important;
}
.fos-sm {
  font-size: 12px !important;
}
.fc-w {
  color: #eee !important;
}
.w-50 {
  min-width: 45%;
  max-width: 45%;
}
.w-30 {
  min-width: 30%;
  max-width: 30%;
}
.m-auto {
  margin: 0 auto;
}
.w-1200 {
  max-width: 1100px;
  min-width: 1100px;
}
.bg-w {
  color: #020202;
  background-color: var(--sec-clr);
}
.bg-b {
  background-color: lightgray;
}
.table-responsive-sm {
  width: 100%;
}
.modal-content {
  direction: rtl;
}
.header {
  background-color: var(--theme-clr);
  padding: 0.5em;
  /* background-color: var(--sec-clr); */
  min-width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  /* box-shadow: 3px 3px 5px var(--shadow-clr); */
}
.tab-content {
  min-width: 100% !important;
}
.nav-item {
  margin: 0 5px !important;
}
.nav-link {
  color: #eee !important;
}
.active {
  color: #020202 !important;
}
.bg-clr {
  color: #eee;
  background-color: var(--theme-clr);
}
.hidden {
  display: none;
}
.disable {
  opacity: 0.6;
}
.wave {
  text-align: center;
  color: #eee;
  padding-top: 4em;
  /* background-image: url("/Images/wave.svg"); */
  background: rgb(255, 136, 0);
  background: linear-gradient(
    135deg,
    rgba(255, 136, 0, 1) 0%,
    rgba(9, 184, 17, 1) 100%
  );
  background-size: cover;
  min-height: 50vh;
}
