/** @format */

.accounts {
  transform: scale(0.9);
  transition: all 300ms;
}
.accounts:hover {
  transform: scale(1);
}
.bg-sec {
  background-color: var(--sec-clr) !important;
}
.bg-liner {
  background: linear-gradient(
    160deg,
    rgba(249, 108, 0, 0.2) 0%,
    rgba(29, 184, 0, 0.2) 100%
  );
}
a:hover {
  color: #444 !important;
}
.border {
  border: 1px solid var(--shadow-clr);
  overflow: hidden;
}
.border-b {
  border-bottom: 1px solid var(--shadow-clr);
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr !important;
}
.full {
  min-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h-100 {
  min-height: 90vh;
}
.fc-w {
  color: #eee !important;
}
.fc-b {
  color: #222 !important;
}

.w-100 {
  min-width: 100%;
}
.w-50 {
  min-width: 45%;
  max-width: 45%;
}
.w-30 {
  min-width: 30%;
  max-width: 30%;
}
.m-auto {
  margin: 0 auto;
}

.Link {
  text-decoration: none;
  color: #020202;
  transition: all 300ms;
  justify-content: start;
  /* border-radius: 10px; */
}
.hover {
  transition: all 300ms;
}
.hover:hover {
  background-color: #444;
  color: #eee !important;
}

.bg-w {
  color: #020202;
  background-color: var(--sec-clr);
}
.bg-b {
  background-color: black;
  /* background-color: darkorange; */
}

.bg-clr {
  color: #eee !important;

  background-color: var(--theme-clr) !important;
  border-color: var(--theme-clr) !important;
}

.bg-clr:hover {
  color: var(--theme-clr) !important;
  background-color: rgba(191, 81, 41, 0.395) !important;
  border-color: var(--theme-clr) !important;
}
.bg-clr-green {
  color: #eee !important;
  background-color: rgb(19, 111, 2) !important;
  border: 2px solid rgb(19, 111, 2) !important;
}

.bg-clr-green:hover {
  color: rgb(19, 111, 2) !important;
  background-color: rgb(19, 111, 2, 0.2) !important;
  border-color: rgb(19, 111, 2) !important;
}
.hidden {
  display: none;
}
.disable {
  opacity: 0.6;
}
.wave {
  text-align: center;
  color: #eee;
  padding-top: 4em;
  /* background-image: url("/Images/wave.svg"); */
  background: rgb(255, 136, 0);
  background: rgb(249, 108, 0);
  background: linear-gradient(
    160deg,
    rgba(249, 108, 0, 1) 0%,
    rgba(29, 184, 0, 1) 100%
  );
  background-size: cover;
  min-height: 40vh;
}

.post-img {
  object-fit: fill;
}
.text {
  background-color: #eee;
  transform: translateY(-10%);
  overflow: hidden;
}
.contact-us {
  background-image: url("/images/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-toggle::after {
  display: none !important;
}
.offcanvas {
  max-width: 320px !important;
}
